name: Tests
on:
  pull_request:
  push:
    branches:
      - master
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        ruby_version: ['3.4', '3.3', '3.2', '3.1']
        rails_version: ['7.0.x', '7.1.x', '7.2.x', '8.0.x', 'edge']
        exclude:
          - ruby_version: '3.1'
            rails_version: '8.0.x'
          - ruby_version: '3.1'
            rails_version: 'edge'
    name: Ruby ${{ matrix.ruby_version }} on Rails ${{ matrix.rails_version }}
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/Gemfile-rails.${{ matrix.rails_version }}
    steps:
    - name: Install graphviz
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq graphviz
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
        bundler-cache: true
    - name: Run tests
      run: |
        bundle exec rake test
